/* Links are white by default, purple when hovered over */
a:link {
  color: #fffefe;
}
a:hover {
  color: #f70be3;
}
/* Provides additional spacing to my bio sections at the top */
.info-data {
  padding: 20px;
}
/* Formats all the skills logos to be a set size and hold a padding to look nicer*/
.skills {
  padding: 3% 15%;
}
.skills-logo {
  padding: 0% 10%;
  width: 150px;
  height: 150px;
}
.skills-table {
  margin-left: auto;
  margin-right: auto;
}
/* Makes all of the circle image the same height and width on the website */
.circle-images {
  width: 200px;
  height: 200px;
}
/* Universal blue background and white text */
body {
  background-color: rgb(28, 67, 173);
  color: white;
}
/* Centers all section titles within their respective parent containers */
.title {
  text-align: center;
}
/* Custom thicker table border and color for the projects table */
.projects {
  padding: 0% 25%;
}
.project-table,
.project-data {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border: 10px solid;
  border-collapse: collapse;
  border-color: white;
}
